{% extends 'base.html' %}
{% block content %}
<main class="p-5">
<div class="row"  >
    <div class="col">
<h1 class="myhead2">
Contact
</h1><hr>

    </div>

</div>
    <div class="row">
<div class="col-sm-6">
    <form>
        <input class="form-control" type="text" name="uname" placeholder="Name"><br>
        <input class="form-control" type="email" name="email" placeholder="email"><br>
        <input class="form-control" type="tel" name="phone_no" placeholder="Phone No"><br>
        <textarea class="form-control" placeholder="MSG"></textarea><br>
        <button class="btn btn-dark btn-black" type="submit">Summit</button>
    </form>

</div>
<div class="col-sm-6">
<p>
    <strong>
        Address
    </strong>
</p>
</div>
    </div>
</main>
{% endblock %}